<div class="container">

  <div class="text-center">
    <% if @comment.errors.any? %>
      <div id="errors">
        <h2><%= pluralize(@comment.errors.count, "error") %> Stopped this comment from saving</h2>
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :author %>
    <%= form.text_field :author, autofocus: true, class: "form-control", placeholder: "Author's Name" %>
  </div>

  <div class="form-group">
    <%= form.label :comment %>
    <%= form.text_field :comment, class: "form-control", placeholder: "Write your hearts content" %>
  </div>

  <div class="hide">
    <%= form.number_field :user_id, value: current_user.id %>
  </div>

<div class="form-group">
   <%= form.number_field :group_id %>
 </div>

  <%= form.submit "Submit", class: "ui inverted grey button" %>

</div>