<div class="container main">
  <h1>Listing Groups</h1>
  <%= link_to "New Group", new_group_path, class: "ui inverted black button active" %>

  <% @nearby_groups.each do |group| %>
    <h1><%= group.topic %></h1>
    <p><%= group.description %></p>
    <%= link_to "show", group_path(group), class: "ui inverted blue button" %>
    <%= link_to "Edit", edit_group_path(group), class: "ui inverted green button" %>
    <%= link_to "Delete", group_path(group), method: :delete, data: { confirm: "Are you Sure?"},
      class: "ui inverted red button" %>
  <% end %>
</div>