<div class="container main">
  <h1>The <%= @group.topic %> Group!</h1>
  <p>Description: <em><%= @group.description %></em></p>
  <p>Group Address: <em><%= @group.address %></em></p>
  <p>Group City: <em><%= @group.city %></em></p>
  <p>Group State: <em><%= @group.state %></em></p>
</div>


<div class="container comment_container">
<hr>
    <h2><em>Comments:</em></h2>
  <% @group.comments.each do |comment| %>
    <p><%= comment.author %> says:</p>
    <p><%= comment.comment %></p>
    <p><%= link_to "Delete", group_comment_path(@group, comment), method: :delete, data: { confirm: "Are you sure?"}, class: "ui inverted red button" %></p>
    <hr>
  <% end %>
  <%= link_to "New", new_group_comment_path(@group), class: "ui inverted black button active" %>
</div>
