<div class="container main">
  <h1>Page for the group: <%= @group.topic %></h1>
  <p>Description: <em><%= @group.description %></em></p>
  <p>Group Address: <em><%= @group.address %></em></p>
  <p>Group City: <em><%= @group.city %></em></p>
  <p>Group State: <em><%= @group.state %></em></p>
</div>