<!DOCTYPE html>
<html>
<head>
  <title>Meetup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="ui fixed inverted menu">
  <div class="ui container">
    <div class="header item"><i class="users icon"></i>Come Together</div>
      <li class="item"><%= link_to "Home", root_path %></li>
      <li class="item"><%= link_to "Groups", groups_path %></li>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
